
img {
    width: 100px;
    height: 100px;
}

.pokemonImage {
    background-color: #fff;
}

#hpBar {
    float: right;
    width: 100%;
    height: 2vh;
    background: #aaa;
    border-radius: 8px;
    border: 1px solid #666;
    padding: 0;
    margin: 0;
}

#hpProgress {
    background: linear-gradient(rgb(209, 230, 255), rgb(98, 160, 243));
    height: calc(2vh - 2px);
    border-radius: 8px;
}

