body {
    background-color: #dce6f7;
	background: url("../images/bg.jpg") fixed center;
}

#header {
    margin-top: 5px;
    margin-bottom: 10px;
}

#title {
    padding: 0;
}

#titleText {
    display: inline-block;
    max-width: 60%;
    width: auto;
    height: auto;
    margin: 0 10%;
}

#signinDiv {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

#signin {
    font-size: 3.5vh;
    border-bottom: 1px solid black;
    margin: 0 0px 4vh 0px;
    padding: 3vh;
    color: #444;
}

#button {
    background: #3b5998;
    color: white;
    border: 1px solid #1a4076;
    margin-bottom: 4vh;
    font-size: 3vh;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 8px;
}

#signinText {
    display: inline;
    font-size: 3vh;
    margin-left: 1vh;
}
