body {
    background-color: #dce6f7;
	background: url("/images/bg.jpg") fixed center;
}

#header {
    background: #444;
    border-bottom: 4px solid #222;
    margin-bottom: 24vh;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokeball {
    display: inline-block;
    height: 10vh;
    margin: 1.5vh 2vh 1.5vh 0;
}

#titleText {
    display: inline-block;
    width: 32vh;
    margin: 0;
}

#signinDiv {
    background: #fff;
    border-radius: 8px;
}

#signin {
    font-size: 3.5vh;
    border-bottom: 4px solid #dce6f7;
    margin: 0 -15px 4vh -15px;
    padding: 3vh;
    color: #444;
}

#button {
    background: #3b5998;
    color: white;
    border: 2px solid #1a4076;
    margin-bottom: 4vh;
    font-size: 3vh;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 8px;
}

#signinText {
    display: inline;
    font-size: 3vh;
    margin-left: 1vh;
}
