/** {
    box-sizing: border-box;
  border: 1px solid black;
}*/

body {
    background-color: #dce6f7;
	background: url("../images/bg.jpg") fixed center;
    background-size: cover;
}

h2 {
    font-size: 3vh;
    margin-bottom: 2vh;
}

.starterImage {
    max-width:20vw;
    width:auto;
    margin:20px;
}

.starterText {
    font-size: 3vh;
    margin-top: 10px;
    margin-bottom: 0;
}

.pokemon-container {
    width:30%;
    display: inline-block;
    margin: 10px auto;
}

#pokemon1, #pokemon2, #pokemon3 {
    margin-bottom: 2vh;
    border-radius: 8px;
    background: rgba(255,255,255,0.5);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

#pokemon1:hover {
    background: #ccffd5;
}
#pokemon2:hover {
    background: #ffcccc;
}
#pokemon3:hover {
    background: #ccd7ff;
}

#header {
    margin-top: 5px;
    margin-bottom: 10px;
}

#title {
    padding: 0;
}

#titleText {
    display: inline-block;
    max-width: 60%;
    width: auto;
    height: auto;
    margin: 0 10% 5% 10%;
}

#content, #player {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    margin-bottom: 6vw;
    padding: 0 20px 20px 20px;
}

#player {
    padding: 10px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.7);
}

#playerImage {
    width: 100%;
    border-radius: 8px;
}

#playerLevel {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 3vh;
    background: white;

    border: 1px solid #aaa;
    border-top-left-radius: inherit;
    border-bottom-right-radius: inherit;

    margin: 0;
    width: 4vh;
    height: 4vh;
    padding-top: 0.3vh;
}

#leftContainer {
    position: relative;
    float: right;
    width: calc(100% - 24vh);
    height: 16vh;
    margin: 2vh 2vh 3vh 0;
}

#expBar {
    float: right;
    width: 100%;
    height: 2vh;
    background: #b6c1d3;
    border-radius: 8px;
    border: 1px solid #aaa;
    padding: 0;
    margin: 0;
}

#expProgress {
    background: linear-gradient(rgb(178, 224, 127), rgb(99, 171, 46));
    height: calc(2vh - 2px);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#playerImageDiv {
    position: relative;
    display: inline-block;
    background: gray;
    border: 1px solid #aaa;
	box-shadow: 5px 3px 2px #9198a3;
    width: 16vh;
    height: 16vh;
    margin: 2vh;
    padding: 0;
    border-radius: 8px;
}

#playerName, #playerMoney {
    border: 1px solid #aaa;
    box-shadow: 5px 3px 2px #9198a3;
}

#playerName {
    display: block;
    font-size: 4vh;
    margin-top: 20px;
    background: #fff;
    padding: 5px 10px;
    border-radius: 25px;

}

#playerMoney {
    display: block;
    position: absolute;
    bottom: 0;
    font-size: 3vh;
    margin: 0;
    background: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.button {
    display: inline-block;
    width: 35vh;
    margin: auto 20px;
    margin-bottom: 5vh;
    padding: 30px;
    background-size: contain;
    background: url(../images/pokeball2.png) center no-repeat;
    border-radius: 8px;
    border: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.button:hover {
    cursor: pointer;
    filter: contrast(150%);
}

.buttonText {
    font-size: 4vh;
    color: #fff;
    margin: 2vh 0 2vh 0;
    text-shadow: 0px 0px 5px black;
}

@media screen and (max-width: 768px) {

.starterText {
    margin-top:20px;
}

.pokemon-container {
    display: block;
    width: 100%;
}

#header {
    margin-top: 0;
}

#title {
    padding: 5px;
    background: rgba(203, 216, 207,0.5);
}

#titleText {
    max-width: 50%;
    margin: 0 10%;
}

#player {
    border-radius: 0;
}

.button {
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
}

.button:hover {
    cursor: pointer;
    filter: none;
}
}