/** {
	box-sizing: border-box;
	border: 1px solid black;
}*/

body {
	background-color: #dce6f7;
	background: url("../images/bg.jpg") fixed center;
	background-size: cover;
	font-family: 'Roboto', sans-serif !important;
}

#header {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#title {
	padding: 0;
}

#titleText {
	display: inline-block;
	max-width: 60%;
	width: auto;
	height: auto;
	margin: 0 10%;
}

#subheader {
	margin-bottom: 1%;
	height: 100%;
}

#subtitle {
	padding: 20px;
}

.subheader-nav {
	background: url("../images/pokeball.png") center no-repeat;
	background-size: contain;
	padding: 20px;
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
	text-shadow: 0px 0px 5px black;
	-o-transition: .5s;
  	-ms-transition: .5s;
  	-moz-transition: .5s;
 	-webkit-transition: .5s;
  	transition: .5s;
}


#main:hover {
	cursor: pointer;
	filter: contrast(150%);
}

#main-section {
	margin-bottom: 100px;
}

.pokemon {
	padding: 15px 25px 10px 25px;
	margin: 0 auto 20px auto;
	background: rgba(255,255,255, 0.7);
	border-radius: 20px 0 20px 0;
	width: 100%;
	-o-transition: .5s;
  	-ms-transition: .5s;
  	-moz-transition: .5s;
 	-webkit-transition: .5s;
  	transition: .5s;
}

.pokemon:hover {
	width: 120%;
}

.img-container {
	text-align: center;
	border-radius: 20px;
	padding: 10px 20px 0 20px;
	margin-top: 1%;

}

.pokemon-img {
	max-width: 100%;
	width:auto;
	height: auto;
	margin: 0 auto 10px auto;

}

.pokemon-stats {

	padding: 10px 10px 0 15px;
	
}

/*pokemon id*/
.pokemon-stats h6 {	
	margin: 0px 0px 5px 10px;
}

/*pokemon name*/
.pokemon-stats h4 {
	margin: 0;
	margin-bottom: 10px;
	padding: 5px 10px;
	background-color: #fff2ce;
	border-radius: 20px;
	font-size: 20pt;
}

/*stats sections within pokemon div*/
.stats-detail {
	padding: 0 15px;
}

/*circles under image*/
.hp, .lvl {
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 5px;
	padding: 2px;
	font-size: 8pt;
	background-color: #d4f7aa;
}

/*numbers inside stat*/
.stat-value {
	font-weight: bold;
	font-size: 12pt;
}

.description {
	width: 100%;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 10pt;
}

.panel {
	border-radius: 20px;
}

.panel .panel-heading {
	border-radius: 18px 18px 0 0;
	padding: 5px 15px;
	font-weight: bold;
	border: none;
	background-color: #7d81d1;
	color: #fff;
}

.panel-body {
	padding: 10px;
	margin-bottom: 0;
}

.pokemon-stats h4, .hp, .lvl, .description, .panel {
	border: 1px solid #aaa;
	box-shadow: 5px 3px 2px #9198a3;
}

.table {
	width: 50%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 10px;
}

.table tbody tr td, .table tbody tr th {
	text-align: center;
	border-radius: 10px;
	padding: 0 5px;
	margin: 10px;
	border: none !important;

}

.table td:first-child {
	background-color: pink;
	font-weight: bold;


}

@media screen and (max-width: 768px) {

#header {
	margin-top: 0;
}

#title {
	padding: 5px;
	background: rgba(203, 216, 207,0.5);
	margin-bottom: 10px;
}

#titleText {
	max-width: 50%;
}

.pokemon, .subheader-nav {
	-o-transition: none;
  	-ms-transition: none;
  	-moz-transition: none;
 	-webkit-transition: none;
  	transition: none;
}

.subheader-nav {
	background: url("../images/pokeball.png") center no-repeat;
	background-size: contain;
	padding: 15px;

}

#main:hover {
	cursor: pointer;
	filter: none;
} 

.pokemon:hover {
	width: 100%;
}

.pokemon-img {
	width: 150px;
}

.hp, .lvl {
	display: block;
	margin: 10px auto;
}
}
