/** {
	box-sizing: border-box;
	border: 1px solid black;
}
*/
body {
	background-color: #dce6f7;
}

#header {
   background: #444;
   border-bottom: 4px solid #222;
   margin-bottom: 8vh;

}

#title {
   display: flex;
   justify-content: center;
   align-items: center;
}

#pokeball {
   display: inline-block;
   height: 10vh;
   margin: 1.5vh 2vh 1.5vh 0;
}

#titleText {
   display: inline-block;
   max-width: 100%;
   width:auto;
   height: auto;
   padding: 20px;
   margin: 0 auto;
}

.main-section {
	margin-bottom: 100px;
}

.pokemon {
	padding: 15px 25px 10px 25px;
	margin: 20px auto;
	background: rgba(255,255,255, 0.5);
	border-radius: 20px 0 20px 0;
	width: 100%;
	-o-transition: .5s;
  	-ms-transition: .5s;
  	-moz-transition: .5s;
 	-webkit-transition: .5s;
  	transition: .5s;
}

.pokemon:hover {
	width: 120%;
}

.img-container {
	text-align: center;
	/*background-color: #fff;*/
	border-radius: 20px;
	padding: 10px 20px 0 20px;
	margin-top: 1%;

}

.pokemon-img {
	max-width: 100%;
	width:auto;
	height: auto;
	margin: 0 auto 10px auto;

}

.pokemon-stats {
	padding: 10px 10px 0 15px;
	
}

/*pokemon id*/
.pokemon-stats h6 {	
	margin: 0px 0px 5px 10px;
}

/*pokemon name*/
.pokemon-stats h4 {
	margin: 0;
	margin-bottom: 10px;
	padding: 5px 10px;
	background-color: #fff2ce;
	border-radius: 20px;
}

.stats-detail {
	padding: 0 15px;
}

.hp, .xp {
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 5px;
	padding: 5px;

}

.description {
	width: 100%;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 20px;
	padding: 10px 20px;
}

.panel {
	border-radius: 20px;
}

.panel .panel-heading {
	border-radius: 20px 20px 0 0;
	padding: 5px 15px;
	font-weight: bold;
	border: none;
	background-color: red;
}

.panel-body {
	padding: 10px;
	margin-bottom: 0;
}

.pokemon-stats h4, .hp, .xp, .description, .panel, .panel-heading {
	border: 1px solid #aaa;
}

.table {
	width: 50%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 10px;
}

.table tbody tr td, .table tbody tr th {
	text-align: center;
	border-radius: 10px;
	padding: 0 5px;
	margin: 10px;
	border: none !important;

}

.table td:first-child {
	background-color: pink;
	font-weight: bold;


}

@media screen and (max-width: 768px) {

#header {
   margin-bottom: 1vh;

}

.pokemon {
	-o-transition: none;
  	-ms-transition: none;
  	-moz-transition: none;
 	-webkit-transition: none;
  	transition: none;
}

.pokemon:hover {
	width: 100%;
}

.pokemon-img {
	width: 150px;
}

.hp, .xp {
	display: block;
	margin: 10px auto;
}
}
